* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1030px;
    padding: 15px 0;
    margin: 20vh auto 0;
}

.game {
    border: 2px solid #000;
    padding: 20px 15px;

    &__title {
        font-weight: bold;
        font-size: 20px;
    }

    &__char {
        margin: 15px 0;

        &-score {
            height: 10px;
            margin-top: 5px;
            display: flex;
            gap: 1px;

            .col {
                width: calc(10% - 0.9px);
                border: solid 1px #000;
                background: green;
                transition: .3s;
            }
        }
    }

    &__btn {
        &-reset {
            margin-left: 10px;
        }
    }
}